<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office Reservation Calculator - Home Assignment</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body >

    @* Navigation bar - logo and title *@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="~/Extras/ORC_icon.png" class="navbar-brand" />
                @Html.ActionLink("Office Reservation Calculator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand-name" })
            </div>
        </div>
    </div>

    <div class="bg">

        @RenderBody()

    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
